##### Global Contstants and Secrets #####
# Stores private values and hardware addresses used by ESPHome

# WiFi Credentials
wifi_ssid: "YourSSID"
wifi_password: "pass123"

# Optional Backup WiFi Credentials
# (not enabled by default, see note in main config)
backup_wifi_ssid: "OtherSSID"
backup_wifi_password: "pass123"

# Encryption key used by API
# (32-byte base64 encoded string)
api_encryption_key: "aA0aaAaaaa1aaAa0AAaAA0AAA+aAa/0aaaAAa0aaAAA="

# Password for OTA firmware updates
# (use empty string for no password)
ota_password: "pass123"

# Password for Fallback WiFi Hotspot
# Network name is "Sensor-Station"
hotspot_password: "pass123"

# Credentials for web server
# (web server is optional, requiring credentials is optional)
web_server_user: "myuser"
web_server_password: "pass123"

# I²C Addresses
# (These can vary, check yours match)
bmp280_address: 0x77
tmp102_address: 0x48
ina219_solar_address: 0x44
ina219_batt_address: 0x40

# Unique DS18B20 address
# (can be found by connecting to station and checking logs)
ds18B20_address: 0x0000000000000000

# Height above the full pond where sensor is mounted (in cm)
pond_offset: 10.25

# Depth of the pond when full (in cm)
pond_depth: 45.72
