wifi_ssid: "YourSSID"
wifi_password: "pass123"
backup_wifi_ssid: "OtherSSID"
backup_wifi_password: "pass123"
api_encryption_key: "aA0aaAaaaa1aaAa0AAaAA0AAA+aAa/0aaaAAa0aaAAA="
ota_password: "pass123"
hotspot_password: "pass123"
